html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/
@media (min-width: 768px) {
    .dos-columnas{
        display: flex;
        /*justify- content nos ayudan a alinear los elementos de iz a derecha, la funcion space-between separan los elementos, 
        uno a cada lado dejando el centro libre*/
        justify-content: space-between;
    }
    
}
.entrada-blog{
    /*este flex se utiliza para el espacio entre las columnas, se puede utilizar con flex-basis o solo flex
    si utiizamos solo el flex tenemos que especificar ciertos valores, el primero es el factor de aumento, el segundo es el factor de reduccion 
    y el tercero es el tamano base */
    flex:0 0 calc(50% -1rem);
    /*poner calc 50% - 1rem indica que ambas imagenes se presentaran al 50% de su tamano y se le restara 1rem para utilizarlo como espacio entre columnas*/
}